

.nav{
 display: flex;
 justify-content: space-between;
 align-items: center;
 margin: 20px 100px;
 color: white;
 font-size: large;
}

.nav-logo {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 32px;
    font-weight: 500;
}

.nav-menu {
    display: flex;
    align-items: center;
    list-style: none;
    font-size: 18px;
    gap: 90px;
}

.nav-contact {
    border-radius: 50px;
    background-color: #fff;
    color: black;
    padding: 10px 38px;
}